<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav"></nav>
	<div class="container">
		<h2 th:text="#{friendslist.message}">Friends</h2>
		<div class="table-responsive">
			<table class="table table-hover" id="tableFriends">
				<thead>
					<tr>
						<th>Email</th>
						<th th:text="#{name.message}">Nombre</th>
						<th th:text="#{surname.message}">Apellidos</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="friend : ${friendList}">
						<td th:text="${friend.email}">Ejercicio 1</td>
						<td th:text="${friend.name}">Ejercicio 1</td>
						<td th:text="${friend.surname}">Ejercicio 1</td>
						<td><form method="post"
								th:attr="action=${'/users/publication/list/' + friend.id}">
								<button th:id="${friend.email}" type="submit" class="btn btn-default"
									th:text="#{seePublications.message}"></button>
							</form></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>